<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Nhân viên</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
                    <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                    title="Remove">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row mb-1">
                <div class="col-sm-7">
                    <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal"
                        data-target="#exampleModal" (click)="addClick()" data-backdrop="static" data-keyboard="false">
                        Thêm nhân viên
                    </button>

                </div>
                <div class="col-md-3">
                    <div class="">
                        <input type="text" class="form-control" placeholder="Enter Keyword for filter result"
                            [(ngModel)]="searchText">
                    </div>
                </div>
            </div>

            <hr>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                (click)="closeClick()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <app-add-edit-nha [nha]="nha" *ngIf="ActivateAddEditNhaComp">
                            </app-add-edit-nha>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- <div *ng-hide="gethsList(item) == null"></div> -->
                <!--thông tin đêyyy-->
                <div class="col-md-12">       
                    <div class="col-md-6">
                        <div class="box box-primary" style="background-color: #f9fafc;">
                            <div class="box-body box-profile">
                                <div>
                                    <img style="width:100px" class=" img-responsive "
                                        src="http://localhost:44880/Photos/{{GetctnvList.img}}"
                                        style="width:120px;height: 126px;margin-left: 212px;border-radius: 10px; "
                                        alt="User profile picture">
                                </div>
                                <h3 class="profile-username text-center"></h3>



                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>Họ tên</b> <a class="pull-right"
                                            style="color:#008ada">{{GetctnvList.hoten}}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Giới tính</b>
                                        <div *ngIf="HosoList.gioitinh;else unactive" class="pull-right"
                                            style="color:#008ada">Nam</div>
                                        <ng-template #unactive>
                                            <div class="pull-right">Nữ</div>
                                        </ng-template>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Số điện thoại</b> <a class="pull-right"
                                            style="color:#008ada">0{{HosoList.phone}}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Chức vụ</b> <a class="pull-right"
                                            style="color:#008ada">{{GetctcvList.tenchucvu}}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Phòng</b> <a class="pull-right"
                                            style="color:#008ada">{{GetctpbList.maphongban}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box box-primary" style="background-color: #f9fafc;">
                            <div class="box-header with-border">
                                <h3 class="box-title">Thông Tin Nhân Viên</h3>
                            </div>
                            <br>
                            <div class="box-body">
                                <strong><i class="fa fa-book margin-r-5"></i> Số Chứng Minh Thư</strong>
                                <p class="text-muted"> 0{{HosoList.cmt}}</p>
                                <strong><i class="fa  fa-calendar margin-r-5"></i> Ngày Sinh</strong>
                                <p class="text-muted">{{HosoList.ngaysinh}}</p>
                                <strong><i class="fa fa-map-marker margin-r-5"></i> Quê Quán</strong>
                                <p class="text-muted">{{HosoList.quequan}}</p>
                                <strong><i class="fa fa-envelope-o margin-r-5"></i> Gmail</strong>
                                <p class="text-muted">{{HosoList.email}}</p>
                                <strong><i class="fa fa-map-marker margin-r-5"></i> Trình Độ</strong>
                                <p class="text-muted">{{HosoList.trinhdohocvan}}</p>
                                <strong><i class="fa fa-calendar-o margin-r-5"></i> Ngày Bắt Đầu Làm
                                    Việc</strong>
                                <p class="text-muted">{{HosoList.ngaybatdau}}</p>

                            </div>
                        </div>

                    </div>
                </div>
                <hr>
                <!--Kết thúc đêyyy-->
                <!-- <div class="form-group col-md-4">
                            <strong>Tìm Kiếm </strong><input type="text" class="form-control"
                                placeholder="Enter Keyword for filter result" [(ngModel)]="searchText">
                        </div> -->
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                Họ tên
                            </th>
                            <th>
                                Mã nhân viên
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Ảnh
                            </th>
                            <th>
                                Phòng ban
                            </th>
                            <th>
                                Chức vụ
                            </th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let i = index ;let item of NhanvienList| filter:searchText |paginate: {itemsPerPage: 10,currentPage: p,totalItems: total}">
                            <td>{{ i + 1 }}</td>
                            <td>{{item.hoten}}</td>
                            <td>{{item.kyhieunv}}</td>
                            <td>{{item.tentrangthai}}</td>
                            <td> <img src="http://localhost:44880/Photos/{{item.img}}" style="width:80px;height: 80px;"
                                    alt=""></td>
                            <td>{{item.ten}}</td>
                            <td>{{item.tenchucvu}}</td>
                            <td>
                                <button type="button" class="btn btn-primary mr-1" data-toggle="modal"
                                    data-target="#exampleModal11"
                                    (click)="gethsList(item);getctnvList(item);getctcvList(item);getctpbList(item)"
                                    data-backdrop="static" data-keyboard="false">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                        <path
                                            d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                    </svg>
                                </button>|
                                <button type="button" class="btn btn-success mr-1" data-toggle="modal"
                                    data-target="#exampleModal" (click)="editClick(item)" data-backdrop="static"
                                    data-keyboard="false">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </button>|
                                <button type="button" class="btn btn-danger mr-1" (click)="deleteClick(item)">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
           
            </div>
            <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            Footer
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->

</section>